<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/detail.css' %}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="navbar-brand">
        <a href="{% url 'recipes:home' %}" class="navbar-brand">
          <img src="/media/recipes/new-tastebuds.png" class="logo" alt="Logo" />
        </a>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recipes:recipe' %}">Recipes</a>
        </li>
      </ul>
      <ul class="navbar-nav logout">
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% url 'recipes:profile' username=request.user.username %}"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
              /></svg
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'success' %}"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
              /></svg
          ></a>
        </li>
      </ul>
      <div class="dropdown">
        <button
          class="custom-button-with-svg"
          type="button"
          id="dropdownMenuButton"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div
          class="dropdown-menu"
          style="right: 0; left: auto"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" href="{% url 'recipes:home' %}">Home</a>
          <a class="dropdown-item" href="{% url 'recipes:recipe' %}">Recipes</a>
          <a class="dropdown-item" href="{% url 'recipes:add' %}">Add Recipe</a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="{% url 'recipes:profile' username=request.user.username %}"
            >Profile</a
          >
          <a class="dropdown-item" href="{% url 'success' %}">Logout</a>
        </div>
      </div>
    </nav>
    <div class="main-container">
      <div class="action-buttons">
        {% if request.user == recipe.author %}
        <form method="post" action="{% url 'recipes:edit_recipe' recipe.id %}">
          {% csrf_token %}

          <button
            type="button"
            class="edit-recipe-button"
            data-recipe-id="{{ recipe.id }}"
          >
            Edit Recipe
          </button>
        </form>
        {% endif %} {% if request.user == recipe.author %}
        <form
          method="post"
          action="{% url 'recipes:delete_recipe' recipe.id %}"
        >
          {% csrf_token %}

          <button id="delete-recipe-button" type="submit">Delete Recipe</button>
          <div id="delete-recipe-modal" class="modal">
            <div class="modal-content">
              <h2>Confirm Deletion</h2>
              <p>Are you sure you want to delete this recipe?</p>
              <button id="confirm-delete">Yes, Delete</button>
              <button id="cancel-delete">Cancel</button>
            </div>
          </div>
        </form>
        {% endif %}
      </div>
      <div class="body-container">
        <div>
          <img src="{{ recipe.pic.url }}" class="recipe-image" />
        </div>
        <div class="recipe-info">
          <b>Name: </b> {{ recipe.name }}<br />
          <b>Ingredients: </b> {{ recipe.ingredients }}<br />
          <b>Cooking Time: </b> {{ recipe.cooking_time }} (minutes)<br />
          <b>Difficulty: </b> {{ difficulty }}<br />
        </div>

        <!-- Edit form (initially hidden) -->
        <form
          method="post"
          action="{% url 'recipes:edit_recipe' recipe.id %}"
          class="edit-recipe-form"
          style="display: none"
        >
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Save Changes</button>
        </form>
      </div>
    </div>
  </body>
  <script src="{% static 'scripts/detail.js' %}" defer></script>
</html>
