<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/detail.css' %}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand">
        <a href="{% url 'recipes:home' %}" class="navbar-brand">
          <img src="/media/recipes/new-tastebuds.png" class="logo" alt="Logo" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:recipe' %}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'success' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <h2>Recipes</h2>
      <b>Name: </b> {{ recipe.name }}<br />

      <b>Ingredients: </b> {{ recipe.ingredients }}<br />

      <b>Cooking Time: </b> {{ recipe.cooking_time }} (minutes)<br />

      <b>Difficulty: </b> {{ difficulty }}<br />

      <img src="{{ recipe.pic.url }}" />
    </div>
  </body>
</html>
