<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/home.css' %}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="navbar-brand">
        <a href="{% url 'recipes:home' %}" class="navbar-brand">
          <img src="/media/recipes/new-tastebuds.png" class="logo" alt="Logo" />
        </a>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'recipes:recipe' %}">Recipes</a>
        </li>
      </ul>
      <ul class="navbar-nav logout">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'success' %}"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 -960 960 960"
              width="24"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"
              /></svg
          ></a>
        </li>
      </ul>
      <div class="dropdown">
        <button
          class="custom-button-with-svg"
          type="button"
          id="dropdownMenuButton"
          aria-haspopup="true"
          aria-expanded="false"
        ></button>
        <div
          class="dropdown-menu"
          style="right: 0; left: auto"
          aria-labelledby="dropdownMenuButton"
        >
          <a class="dropdown-item" href="{% url 'recipes:home' %}">Home</a>
          <a class="dropdown-item" href="{% url 'recipes:recipe' %}">Recipes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'success' %}">Logout</a>
        </div>
      </div>
    </nav>

    <!-- Start of welcome contianer -->
    <div class="box-content">
      <div class="text-content">
        <h1>Welcome</h1>
        <h2>What would you like to do?</h2>
      </div>
      <div class="action-btns">
        <button
          class="item-action"
          id="add-recipe-btn"
          data-add-recipe-url="{% url 'recipes:add' %}"
        >
          Add Recipe
        </button>

        <button
          class="item-action"
          id="view-all-recipes-btn"
          data-recipe-url="{% url 'recipes:recipe' %}"
        >
          View All Recipes
        </button>
      </div>
    </div>
    <!-- End of welcome container -->

    <!-- Start of suggestions container -->
    <div class="suggestions-section">
      <h2>Suggestions</h2>
      <div class="suggestions-content">
        {% for suggestion in random_suggestions %}
        <div class="suggestion-item">
          <a href="{{ suggestion.get_absolute_url }}">
            <img
              src="{{ suggestion.pic.url }}"
              alt="{{ suggestion.name }}"
              class="suggestion-image"
            />
          </a>
          <h3>{{ suggestion.name }}</h3>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- End of suggestions container -->
  </body>
  <script src="{% static 'scripts/home.js' %}" defer></script>
</html>
