<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/home.css' %}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand">
        <a href="{% url 'recipes:home' %}" class="navbar-brand">
          <img src="/media/recipes/new-tastebuds.png" class="logo" alt="Logo" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:recipe' %}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'success' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="box-content">
      <div class="text-content">
        <h1>Welcome</h1>
        <h2>What would you like to do?</h2>
      </div>
      <div class="action-btns">
        <button class="item-action" id="add-recipe-btn">Add Recipe</button>
        <button class="item-action" id="change-recipe-btn">
          Change Recipe
        </button>
        <button class="item-action" id="delete-recipe-btn">
          Delete Recipe
        </button>
        <button
          class="item-action"
          id="view-all-recipes-btn"
          data-recipe-url="{% url 'recipes:recipe' %}"
        >
          View All Recipes
        </button>
      </div>
    </div>

    <div class="suggestions-section">
      <h2>Suggestions</h2>
      <div class="suggestions-content">
        {% for suggestion in random_suggestions %}
        <div class="suggestion-item">
          <a href="{{ suggestion.get_absolute_url }}">
            <img
              src="{{ suggestion.pic.url }}"
              alt="{{ suggestion.name }}"
              class="suggestion-image"
            />
          </a>
          <h3>{{ suggestion.name }}</h3>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- Recipe List 
    <div class="container mt-4">
      <h1>Recipe List</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Recipe Titles</th>
            <th>Recipe Images</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>
              <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            </td>
            <td>
              <img
                src="{{ object.pic.url }}"
                alt="{{ object.name }}"
                width="100"
                height="100"
              />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    -->
  </body>
  <script src="{% static 'scripts/home.js' %}"></script>
</html>
