<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/recipe.css' %}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="navbar-brand">
        <a href="{% url 'recipes:home' %}" class="navbar-brand">
          <img src="/media/recipes/new-tastebuds.png" class="logo" alt="Logo" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'recipes:recipe' %}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'success' %}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <container>
      <div>
        <div class="header">
          <h1>
            <span>R</span>
            <span>E</span>
            <span>C</span>
            <span>I</span>
            <span>P</span>
            <span>E</span>
            <span>S</span>
          </h1>
          <button id="add-recipe-button">ADD</button>
        </div>
        <div class="modal" id="recipe-modal" style="display: none">
          <div class="modal-content">
            <span class="close" id="close-modal">&times;</span>
            <h2>Add a New Recipe</h2>
            <form id="recipe-form" method="post">
              {% csrf_token %} {{ form.as_p }}
              <button type="submit">Add Recipe</button>
            </form>
          </div>
        </div>

        <div class="recipe-container">
          {% for recipe in recipes %}
          <div class="recipe">
            <img src="{{recipe.pic.url}}" width="100" height="100" />
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.difficulty }}</p>
            <button
              class="details-button"
              id="details-button"
              data-recipe-url="{% url 'recipes:detail' recipe.pk %}"
            >
              Details
            </button>
            <button class="btn">
              <i class="fas fa-heart"></i>
            </button>
          </div>
          {% endfor %}
        </div>
      </div>
    </container>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
  <script
    src="https://kit.fontawesome.com/10833f84d9.js"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'scripts/recipe.js' %}" defer></script>
</html>
