<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/recipes.css' %}"
    />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand d-flex justify-content-center">
        <a href="{% url 'recipes:recipes' %}" class="navbar-brand">
          <img src="/media/recipes/new-tastebuds.png" class="logo" alt="Logo" />
        </a>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'success' %}">Logout</a>
        </li>
      </ul>
    </nav>

    <div class="box-content">
      <div class="text-content">
        <h1>Welcome</h1>
        <h2>What would you like to do?</h2>
      </div>
      <div class="action-btns">
        <button class="item-action" id="add-recipe-btn">Add Recipe</button>
        <button class="item-action" id="change-recipe-btn">
          Change Recipe
        </button>
        <button class="item-action" id="delete-recipe-btn">
          Delete Recipe
        </button>
        <button class="item-action" id="view-all-recipes-btn">
          View All Recipes
        </button>
      </div>
    </div>

    <!-- Carousel -->
    <!-- <div class="image-container">
      <img src="/media/recipes/brownies.jpg" alt="image 1" />
      <img src="/media/recipes/egg_breakfast.jpg" alt="image 2" />
      <img src="/media/recipes/octopus.jpg" alt="image 3" />
      <img src="/media/recipes/garlic_noodles.jpg" alt="image 4" />
      <img src="/media/recipes/french_toast.jpg" alt="image 5" />
    </div>

    <!-- Recipe List -->
    <div class="container mt-4">
      <h1>Recipe List</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Recipe Titles</th>
            <th>Recipe Images</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>
              <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            </td>
            <td>
              <img
                src="{{ object.pic.url }}"
                alt="{{ object.name }}"
                width="100"
                height="100"
              />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
  <script src="{% static 'scripts/recipe.js' %}"></script>
</html>
