* {
  box-sizing: border-box;
}

.logo {
  width: 200px;
}

.navbar-nav {
  margin-left: auto;
}

.box-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 0 2rem;
}
.text-content h2 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 83);
  margin-bottom: 1rem;
}
.action-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
/*
.item-action {
  margin-right: 3rem;
  max-width: 140px;
  max-height: 38px;
  background-color: beige;
  border: none;
  color: rgb(0, 0, 83);
}
 */

.item-action {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.item-action::after,
.item-action::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.item-action::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.item-action::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.item-action:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.item-action:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.item-action:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
#add-recipe-btn {
}
#change-recipe-btn {
}
#delete-recipe-btn {
}
#view-all-recipes-btn {
}

.image-container {
  display: flex;
  overflow: hidden; /* Use hidden to hide the scrollbar */
  max-width: 100%; /* Ensure the container doesn't exceed the viewport */
  height: 200px;
  white-space: nowrap;
}

.image-container img {
  flex: 0 0 auto;
  width: 100%;
  object-fit: cover;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}
@media (min-width: 600px) {
  .image-container img {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .image-container img {
    width: 33.33%;
  }
}

@keyframes scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-524.94px, 0, 0);
  }
}
