<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/success.css' %}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="navbar-brand d-flex justify-content-center">
          <a href="{% url 'recipes:home' %}" class="navbar-brand">
            <img
              src="/media/recipes/new-tastebuds.png"
              class="logo"
              alt="Logo"
            />
          </a>
        </div>
      </div>
    </header>
    <div class="container-fluid mt-4">
      <div class="row">
        <div id="content-container" class="col-md-6 message-content">
          <h1 id="heading">Welcome to TasteBuds</h1>
          <p id="message">
            Your personal recipe organizer. Store your recipes in TasteBuds and
            access them on all your devices, anywhere, anytime.
          </p>
          <div>
            <button type="button" class="success-btns login-btn btn">
              <a href="{% url 'login' %}">Login</a>
            </button>

            <button
              type="button"
              id="next-button"
              class="success-btns next-btn btn"
            >
              <a>Next</a>
            </button>
          </div>
        </div>
        <div id="image-container" class="col-md-6 image-content">
          <img
            id="main-image"
            src="/media/recipes/brownies.jpg"
            class="img-fluid rounded w-100 h-100 mx-auto"
            alt="Brownies"
          />
        </div>
      </div>
    </div>
    <script src="{% static 'scripts/success.js' %}"></script>
  </body>
</html>
