<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <title>TasteBuds</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/success.css' %}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="navbar-brand d-flex justify-content-center">
          <a href="{% url 'success' %}" class="navbar-brand">
            <img
              src="{{ MEDIA_URL }}recipes/new-tastebuds.png"
              class="logo"
              alt="Logo"
            />
          </a>
        </div>
      </div>
    </header>
    <div class="container-fluid mt-4">
      <div class="row">
        <div id="content-container" class="col-md-6 message-content">
          <h1 id="heading"></h1>
          <p id="message"></p>
          <div>
            <button
              type="button"
              class="success-btns login-btn btn"
              id="login-button"
              data-login-url="{% url 'login' %}"
              onclick="window.location.href = this.getAttribute('data-login-url')"
            >
              Login
            </button>
            <button
              type="button"
              id="next-button"
              class="success-btns next-btn btn"
              data-signup-url="{% url 'signup' %}"
            >
              <a>Learn more</a>
            </button>
          </div>
        </div>
        <div id="image-container" class="col-md-6 image-content">
          <img
            id="main-image"
            class="img-fluid rounded w-100 h-100 mx-auto"
            alt=""
          />
        </div>
      </div>
    </div>
    <script src="{% static 'scripts/success.js' %}"></script>
  </body>
</html>
